Text_Validate/error_text.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="error_text">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="error_section" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="error_text_line">
								<xs:simpleType>
									<xs:restriction base="xs:int">
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="error_value">
								<xs:simpleType>
									<xs:restriction base="xs:string">
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="error_desc">
								<xs:simpleType>
									<xs:restriction base="xs:string">
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
